
// ## Settings: Spacing

// Use and follow same naming convention pattern as breakpoints > "_settings.breakpoints.scss".
$spacingSizes: (
  4xlg: 128,
  3xlg: 96,
  2xlg: 64,
  xlg: 48,
  lg: 40,
  md: 32,
  sm: 24,
  xsm: 20
);