
// ## Settings: Breakpoints

$breakpoints: (
  6xlg: 1920,
  5xlg: 1680,
  4xlg: 1440,
  3xlg: 1366,
  2xlg: 1280,
  xlg: 1152,
  lg: 1024,
  md: 900,
  sm: 768,
  xsm: 640,
  2xsm: 560,
  3xsm: 480,
  4xsm: 360,
  5xsm: 250
);