
// ## Settings: Colours

$focusColour: #ec2b3b;

$p-Green: #068833;
$p-Red: #e12724;
$s-Blue: #036cdb;
$s-Purple: #8837b5;
$n-MagentaBlack: #1a191a;
$n-BlueBlack: #0c0920;
$n-MagentaGrey: #423f42;
$n-Black: #111;
$n-Grey600: #646464;
$n-Grey500: #8c8c8c;
$n-Grey400: #adadad;
$n-Grey300: #d1d1d1;
$n-Grey100: #efefef;
$n-Grey50: #f7f7f7;
$t-Yellow: #f7c701;
$t-Green: #3eb17b;
$t-Orange: #e36512;
$t-Blue: #3f97fa;
$t-Red: #ef4c42;
