
// ## Settings: Fonts

$font_fam_base: Arial;
$font_fam_alt: $font_fam_base;
$font_fam_montserrat: 'Montserrat', sans-serif;
$font_fam_custom: $font_fam_montserrat;
$font_fam_headings: $font_fam_custom;